{% sw_extends '@Storefront/storefront/component/address/address-form.html.twig' %}

{% block component_address_form_company_vatId_label %}
    <label class="form-label"
           for="{{ prefix }}vatId">
        {{ "address.companyVatLabel"|trans|sw_sanitize }}{% if shopware.config.MemoVatlayer6.config.vatIdRequired %}{{ "general.required"|trans|sw_sanitize }}{% endif %}
    </label>
{% endblock %}

{% block component_address_form_company_vatId_input %}
    {% set vatlayerOptions = {
        csrfToken: sw_csrf("frontend.memo.vatlayer.validate", {"mode": "token"})
    } %}

    <input type="text"
           class="form-control{% if violationPath %} is-invalid{% endif %}"
           id="{{ prefix }}vatId"
           {% if shopware.config.MemoVatlayer6.config.vatIdRequired %}required="required"{% endif %}
           data-vatlayer="true"
           data-vatlayer-options="{{ vatlayerOptions | json_encode }}"
           placeholder="{{ "address.companyVatPlaceholder"|trans|striptags }}{% if shopware.config.MemoVatlayer6.config.vatIdRequired %}{{ "general.required"|trans|sw_sanitize }}{% endif %}"
           name="{{ prefix }}[vatId]"
           value="{{ data.get('vatId') }}">
{% endblock %}
