{% sw_extends '@Storefront/storefront/component/address/address-form.html.twig' %}

{% block component_address_form_company_vatId_label %}
    <label class="form-label"
           for="{{ prefix }}vatId">
        {{ "address.companyVatLabel"|trans|sw_sanitize }}{% if shopware.config.MemoVatlayer6.config.vatIdRequired %}{{ "general.required"|trans|sw_sanitize }}{% endif %}
    </label>
{% endblock %}

{% block component_address_form_company_vatId_input %}
    hi
    <input type="text"
           class="form-control{% if violationPath %} is-invalid{% endif %}"
           id="{{ prefix }}vatId"
           {% if shopware.config.MemoVatlayer6.config.vatIdRequired %}required="required"{% endif %}
           placeholder="{{ "address.companyVatPlaceholder"|trans|striptags }}{% if shopware.config.MemoVatlayer6.config.vatIdRequired %}{{ "general.required"|trans|sw_sanitize }}{% endif %}"
           name="{{ prefix }}[vatId]"
           value="{{ data.get('vatId') }}">
{% endblock %}

{% block component_address_form_company_vatId_input_error %}
    {{ parent() }}

    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
        type: "danger",
        content: ""|trans|sw_sanitize
    } %}
    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
        type: "warning",
        content: ""|trans|sw_sanitize
    } %}
    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
        type: "info",
        content: ""|trans|sw_sanitize
    } %}
    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
        type: "success",
        content: ""|trans|sw_sanitize,
        dismissible: true
    } %}
{% endblock %}

